{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
    <h1>Créer nouvelle leçon pour le {{ cursus.name }}</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_theme_index') }}">Retour à la liste</a>
{% endblock %}
